/target
/.VSCodeCounter
/*code-workspace
/.cargo
Cargo.lock
*.bak
/.idea/codeStyles/codeStyleConfig.xml
/.idea/modules.xml
/.idea/codeStyles/Project.xml
/.idea/rust-crypto.iml
/.idea/vcs.xml
/.idea/.gitignore
/.idea/*
/logs
/bindings
/metadata.db
/testdb
/flutter
