[package]
name = "crypto-layer"
version = "0.1.0"
edition = "2021"
license = "MIT"

[lib]
crate-type = ["cdylib", "lib"]

[profile.dev]
debug-assertions = true
overflow-checks = true

[profile.release]
# Use fewer codegen units to enable more optimizations
codegen-units = 1

# Enable link time optimization for better performance
lto = true

# Strip debug symbols for smaller binary size
debug = false
strip = "symbols"

[features]
debug = []
ffi = []
default = ["android", "tpm"]
android = ["tpm", "robusta_jni", "libloading"]
nks = ["core", "x25519-dalek", "hcvault", "reqwest", "rand", "openssl", "arrayref", "base64", "ed25519-dalek", "sodiumoxide"]
hcvault = []
core = []
tpm = []
linux = ["tpm", "tss-esapi"]
macos = []
win = ["tpm", "windows"]
hsm = []
yubi = ["hsm", "yubikey", "sha2", "x509-cert", "base64", "rsa", "openssl"]

[dependencies]
arrayref = { version = "0.3.7", optional = true }
base64 = { version = "0.22.1", optional = true }
ed25519-dalek = { version = "2.1.1", optional = true }
hex = { version = "0.4.3", optional = true }
md-5 = { version = "0.10.6", optional = true }
once_cell = { version = "1.19.0" }
openssl = { version = "0.10.66", optional = true }
rand = { version = "0.8.5", optional = true }
reqwest = { version = "0.12.7", features = ["json"], optional = true }
ring = { version = "0.17.8", optional = true }
robusta_jni = { version = "0.2", optional = true }
rsa = { version = "0.9.6", optional = true }
serde = { version = "1.0.208", features = ["derive"] }
serde_json = { version = "1.0.125" }
sha2 = { version = "0.10.8", optional = true }
sodiumoxide = { version = "0.2.7", optional = true }
tracing = { version = "0.1.40", features = ["attributes"] }
tracing-appender = "0.2.3"
tracing-attributes = "0.1.27"
tracing-subscriber = "0.3.18"
tss-esapi = { version = "7.5.1", optional = true }
windows = { version = "0.57.0", features = [
    "Win32_Foundation",
    "Win32_System_SystemServices",
    "Win32_Security_Tpm",
    "Security_Cryptography_Core",
    "Win32_Security_Cryptography",
    "Win32_Security_Cryptography_Catalog",
    "Data_Xml_Dom",
    "Win32_Foundation",
    "Win32_Security",
], optional = true }
# windows-core = "0.58.0"
# windows-interface = "0.58.0"
# windows-metadata = "0.58.0"
# windows-result = "0.2.0"
x25519-dalek = { version = "2.0.1", features = ["static_secrets"], optional = true }
x509-cert = { version = "0.2.5", optional = true }
yubikey = { version = "0.8.0", optional = true, features = ["untested"] }
nanoid = "0.4.0"
enum_dispatch = "0.3.13"
libloading = {version = "0.8.5", optional = true}
thiserror = "1.0.65"
anyhow = { version = "1.0.91"}

[dev-dependencies]
color-eyre = "0.6.3"
test-case = "3.3.1"

[dependencies.getrandom]
version = "0.2.15"
features = ["js"]
optional = true
