[package]
name = "crypto-layer"
version = "0.1.0"
edition = "2021"
license = "MIT"

[lib]
crate-type = ["cdylib", "lib"]

[profile.dev]
debug-assertions = true
overflow-checks = true

[profile.release]
# Use fewer codegen units to enable more optimizations
codegen-units = 1

# Enable link time optimization for better performance
lto = true

# Strip debug symbols for smaller binary size
debug = false
strip = "symbols"

[features]
nks = ["core", "x25519-dalek", "hcvault"]
android = ["robusta_jni", "libloading", "tracing-android", "x25519-dalek"]
debug = []
hsm = []
ffi = []
hcvault = []
core = []
linux = ["tpm", "tss-esapi"]
macos = ["tpm"]
nitro = ["hsm", "nitrokey"]
std = []
tpm = []
win = ["tpm", "windows"]
yubi = ["hsm", "yubikey"]

[dependencies]
anyhow = "*"
async-std = "*"
futures = "*"
nitrokey = { version = "0.9.0", optional = true }
once_cell = "1.14.0"
windows = { version = "0.57.0", features = ["Win32_Security_Tpm", "Security_Cryptography_Core", "Win32_Security_Cryptography"], optional = true }
tss-esapi = { version = "7.5.0", optional = true }
serde = { version = "*", features = ["derive"] }
serde_json = "1.0.109"
tracing = { version = "0.1.40", features = ["std", "log"] }
tracing-subscriber = "0.3.18"
tracing-appender = "0.2.3"
yubikey = { version = "0.8.0", optional = true }
reqwest = { version = "0.12.4", features = ["json"] }
tokio = { version = "1", features = ["full"] }
openssl = "0.10.64"
base64 = "0.22.1"
ed25519-dalek = "2.1.1"
arrayref = "0.3.7"
sodiumoxide = "0.2.7"
rand = "0.8.5"
x25519-dalek = { version = "2.0.1", features = ["static_secrets"], optional = true }
robusta_jni = { version = "0.2", optional = true }
libloading = { version = "0.8.3", optional = true }
tracing-android = { version = "0.2.0", optional = true }
apple-secure-enclave-bindings = {version = "0.1.0", path="./src/tpm/macos/main"}
regex = "1.10.4"

[dev-dependencies]
test-case = "*"
