[package]
name = "crypto-layer"
version = "0.1.0"
edition = "2021"
license = "MIT"

[profile.dev]
debug-assertions = true
overflow-checks = true

[profile.release]
# Use fewer codegen units to enable more optimizations
codegen-units = 1

# Enable link time optimization for better performance
lto = true

# Strip debug symbols for smaller binary size
debug = false
strip = "symbols"

[features]
android = []
debug = []
hsm = []
linux = ["tpm", "tss-esapi"]
macos = []
nitro = ["hsm", "nitrokey"]
std = []
tpm = []
win = ["tpm", "windows"]
yubi = ["hsm", "yubikey"]

[dependencies]
nitrokey = { version = "0.9.0", optional = true }
once_cell = "1.14.0"
windows = { version = "0.56.0", features = ["Win32_Security_Tpm", "Security_Cryptography_Core", "Win32_Security_Cryptography"], optional = true }
tss-esapi = { version = "7.5.0", optional = true }
serde = { version = "*", features = ["derive"] }
serde_json = "1.0.109"
tracing = { version = "0.1.40", features = ["std", "log"] }
tracing-subscriber = "0.3.18"
tracing-appender = "0.2.3"
yubikey = { version = "0.8.0", optional = true }
