name: Unit Tests

on:
  pull_request:
    types: [opened, synchronize, reopened, labeled]
    branches:
      - main
  push:
    branches:
      - main

jobs:
  test-pr-rs:
    name: Test Rust-Code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
        with:
          save-if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
      - uses: arduino/setup-task@v2
      - name: Unit Test Rust Code
        run: task test-cal
        env:
          RUSTFLAGS: -C link-arg=-fuse-ld=lld

  test-pr-ts-types:
    name: Test TS-Types
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: arduino/setup-task@v2
      - name: Test TS Types
        run: task prerequisites-ts test-ts-types
